/* styles.css */

* {
    font-family: 'Quicksand', sans-serif;
    font-size: 11pt;
}
body {
    background: transparent;
    color: white;
    font-family: 'PT Sans Caption', sans-serif;
}
html {
    background: url(../../static/social/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
img {
    border: 1px solid black;
    margin-right: 15px;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
}
li a,
.button {
    text-decoration: none;
}
li a:hover,
.button:hover {
color: #db514a;
}
.appname {
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;
    padding-top: 15px;
    padding-left: 15px;
    background: #171C21;
}


.info {
    background: #425059;
    color: white;
    width: 100%;
    padding: 25px 30px;
    text-align: center;
    margin: auto;
}
.menu li,
.button {
    display: inline;
    padding: 4px 6px;
    border: 1px solid #777;
    background: #ddd;
    color: #d04;
    margin-right: 8px;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
}
.subhead {
    font-weight: bold;
}
.taken,
.error {
    color: red;
}
.available {
    color: green;
}
.whisper {
    font-style: italic;
    color: #006600;
}
#logo {
    font-family: Georgia;
    font-weight: bold;
    font-style: italic;
    font-size: 97px;
}
.container-fluid {
    width: 100%;
    margin-top: 10%;
}
.content {
    margin-left: auto;
    margin-right: auto;
}
.login, .signup {
    width: 40%;
    background-color: #dddddd;
}
.friends, .member, .messages, .profile {
  width: 80%;
  background-color: #171d21;
}
.members{
  width: 80%;
  background-color: #171d21;
  height: 60vh;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.checkuser, .not-logged-in{
  width: 40%;
  background-color: #171d21;
}
.logout, .user-registered{
  width: 70%;
  background-color: #171d21;
  text-align: center;
}
.index{
  width: 70%;
  background-color: #171d21
}
.jumbotron{
  background-color: inherit;
  text-align: center;
}
.btn {
    padding-bottom: 0px;
    opacity: 0.8;
    background-color: transparent;
    color: white;
}
.btn:hover {
    -webkit-transition: all 100ms ease-out 0.2s;
    -moz-transition: all 100ms ease-out 0.2s;
    -o-transition: all 100ms ease-out 0.2s;
    transition: all 100ms ease-out 0.2s;
    opacity: 1.0;
}
a {
    color: white;
    opacity: 0.8;
}
a:active {
    border-radius: 1px;
    opacity: 1.0;
}
a:hover {
    opacity: 1.0;
    color: white;
    text-decoration: none;
}
.nav {
    padding-top: 10px;
    background-color: #171C21;
}
input {
    color: #171C21;
    background-color: #dddddd;
    border: 1px;
    border-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14pt;
    float: right;
}
input[type="submit"] {
    background-color: #db514a;
    color: white;
    width: 100%;
    opacity: 0.85;
}
input[type="submit"]:hover{
    opacity: 1.0;
    -webkit-transition: all 100ms ease-out 0.1s;
    -moz-transition: all 100ms ease-out 0.1s;
    -o-transition: all 100ms ease-out 0.1s;
    transition: all 100ms ease-out 0.1s;
}
input[type="text"],
input[type="password"] {
    width: 80%;
}
.main {
    text-align: center;
}
::-webkit-input-placeholder {
    color: #171d21;
}
:-moz-placeholder {
    color: #171d21;
    opacity: 1;
}
::-moz-placeholder {
    color: #171d21;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #171d21;
}
:placeholder-shown {
    color: #171d21;
}

.frm
{
  color: #171C21;
  vertical-align: middle;
  display: inline-block;
  padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #db514a;
}
.loginout {
  font-size: 120%;
  border-style: none;
  background-color: #db514a;
  color: white;
  width: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.friend-entry{
  position: relative;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(255,255,255,0.1);
}
.friend-name{
  text-align: left;
  padding-left: 15px;
}

.friend-stat-glyph{
  padding-right: 15px;
  float: right;
  vertical-align: middle;
  color:white;
  font-size: inherit;
}

h3 a{
  color: inherit;
  font-size: inherit;
}
h3 a:hover{
  color: inherit;
}

#search{
  color: white !important;
  background-color: transparent;
  padding: 0px 0px 0px 0px;
  float: none;
  font-size: inherit;
}
#search::-webkit-input-placeholder:active{
  color: white;
  opacity: 0.8;
}
#search::-webkit-input-placeholder {
    color: white !important;
    opacity: 0.8;
}
#search::-moz-placeholder{
    color: white !important;
    opacity: 0.8;
}
#search::-moz-placeholder {
    ccolor: white !important;
    opacity: 0.8;
}
#search:-ms-input-placeholder {
    color: white !important;
    opacity: 0.8;
}
#search:placeholder-shown {
    color: white !important;
}

li#search-tab > a:hover, li#search-tab > a:focus, li#search-tab > a {
  background-color: transparent;
  border-style: none;
}

.nav-tabs > li > a:hover{
  background-color: transparent;
  border-color: transparent;
}

.glyphicon-search{
  float:left;
  padding-top: 2px;
}

.glyphicon-remove-circle:hover{
  color: #cb302a;
  -webkit-transition: all 100ms ease-out 0.2s;
  -moz-transition: all 100ms ease-out 0.2s;
  -o-transition: all 100ms ease-out 0.2s;
  transition: all 100ms ease-out 0.2s;
}

.glyphicon-thumbs-up:hover{
  color: #3870c9;
  -webkit-transition: all 100ms ease-out 0.2s;
  -moz-transition: all 100ms ease-out 0.2s;
  -o-transition: all 100ms ease-out 0.2s;
  transition: all 100ms ease-out 0.2s;
}

#search-results{
  color: red;
}
