{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Social Network: {{ appname }}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'social/styles.css' %}" />
	<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption' rel='stylesheet' type='text/css'>
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container-fluid">
		<script src="{% static 'social/scripts.js' %}"></script>
				{% if loggedin %}
				<div class="nav nav-pills navbar-fixed-top">
					<div class="row">

					<div class="col-lg-2 col-md-2 col-sm-2">
					<div class='appname text-left'><a class="profilestatus" href='/social/members/?view={{ username }}'>{{ username }}</a></div>
				</div>
			<div class="col-lg-10 col-md-10 col-sm-10">
				<ul class='text-right'>
					<button class="btn"><a href='/social/members/?view={{ username }}'> <span class="glyphicon glyphicon-home"></span><p>Home</p></a></button>
					<button class="btn"><a href='/social/members/'><span class="glyphicon glyphicon-globe"></span><p>Members</p></a></button>
					<button class="btn"><a href='/social/messages/'><span class="glyphicon glyphicon-envelope"></span><p>Messages</p></a></button>
					<button class="btn"><a href='/social/profile/'><span class="glyphicon glyphicon-user" ></span><p>Edit Profile</p></a></button>
					<button class="btn"><a href='/social/logout/'><span class="glyphicon glyphicon-log-out"></span><p>Log out</p></a></button></ul>
					{% endif %}
				</ul>
			</div>
			</div>

		</div>

		{% block content %}
		{% endblock %}

		<script>
		$(".friend-entry").each(function() {
			var random1 = Math.floor(Math.random() * 255);
			var random2 = Math.floor(Math.random() * 255);
			var random3 = Math.floor(Math.random() * 255);

			var colourIndex = Math.floor(Math.random() * 6);
			var colourArray = ["#777777","#337ab7","#5bb85c","#5bc0de","#f0ad4e","#d9534e"];

			this.style.backgroundColor = colourArray[colourIndex];
		});
		</script>

	</div>
</body>
</html>
