{% extends "social/base.html" %}

{% block content %}
<div class="content members">
<div class='main'>
<h3>All Members</h3>
<table style="width:100%">
{% for member in allMembers %}
	<tr>
	<td>{{member}}<td>
	<td><a href="?sendFriendRequest={{ member.username }}">Send Friend Request</a></td>
	<tr>
{% endfor %}

</table>

<h3>All Friends</h3>
<table style="width:100%">
{% for friend in allFriends %}
	<tr>
	<td>{{friend.friend2}}<td>
	<td><a href="?sendFriendRequest={{ member.username }}">Delete</a></td>
	<tr>
{% endfor %}
</table>

<h3>Suggested Friends</h3>
<table style="width:100%">
{% for suggestedFriend in suggestedFriends %}
		<tr>
		<td>{{suggestedFriend.friend2}}<td>
		<td><a href="?approveFriendRequest={{ request.sender }}">Approve</a></td>
		<tr>
{% endfor %}
</table>

<h3>Pending Requests</h3>
<table style="width:100%">
{% for request in pendingRequests %}
	<tr>
	<td>{{request.sender}}<td>
	<td><a href="?approveFriendRequest={{ request.sender }}">Approve</a></td>
	<tr>
{% endfor %}
</table>

<br>
</div>

<input type="text" id="search" name="search" placeholder="Search friends" />
    <ul id="search-results">
    </ul>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
$(function() {

    $('#search').keyup(function() {

        $.ajax({
            type: "GET",
            url: "search",
            data: {
                'search_text' : $('#search').val(),
                'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
            },
            success: searchSuccess,
            dataType: 'html'
        });
    });
});

function searchSuccess(data, textStatus, jqXHR)
{
    $('#search-results').html(data)
}
</script>
</div>
{% endblock %}
