{% extends "social/base.html" %}

{% block content %}
<div class="content profile">
  <div class='main'>

    <h2>Profile</h2>
    <br><br>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 class="profile-header friend-entry">{{username}}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <br>
        <div class="profile-status">
          {% if text %}
          <span class="quote">"</span>&nbsp;{{ text }}&nbsp;<span class="quote">"</span>
          {%else %}
          <br>
          <h1 class='msg-none'>No status yet&nbsp;&nbsp;:/</h1><br>
          <h1 class='msg-none'>Share something cool</h1><br><br>
          {% endif %}
        </div>
        <br>
      </div>
    </div>



    <form method='post'  action='/social/profile/' enctype='multipart/form-data'>
      {% csrf_token %}
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <input class="msg-form-controls status-text" type="text" name="text" placeholder=" Enter a status...">
          <input class="msg-form-controls status-send" type='submit' value='Post'>
        </div>
      </div>
    </form>


  </div>
</div>
{% endblock %}
