{% extends "social/base.html" %}

{% load staticfiles%}

{% block content %}
<div class="content signup">
	<script src="{% static 'social/jquery-1.11.2.js' %}"></script>
	<script src="{% static 'social/ajax.js' %}"></script>
	<div class='main'>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 text-center">
				<div class='info'>Please enter your details to sign up</div>
			</div>
		</div>
		<br><br>
		<form method='POST' action='/social/register/'>
			{% csrf_token %}
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center">
					<span class='glyphicon glyphicon-user frm'></span>
					<input type='text' maxlength='16' id='user' name='user' placeholder='Username' alt="">
					<span id='info'></span>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center">
					<span class='glyphicon glyphicon-lock frm'></span>
					<input type='password' maxlength='16' name='pass' placeholder='Password'><br>
				</div>
			</div>
			<hr>
			<br><br><br>
			<input type='submit' value='SIGN UP'>
		</form>
	</div>
</div>
{% endblock %}
